body {
    background-color:rgb(2, 2, 22);;
    padding-top: 100px;
}

header {
    text-align: center;
    font-size: 100px;
    color: white;
    background-color:  rgb(5 32 63);
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
}

h1 {
    font-size: 40px;
    color: white;
    margin-left: 5%;
    margin-right: 5%;

}

p {
    font-size: 20px;
    margin-left: 5%;
    margin-right: 5%;
    color: white;
}
