header {
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  background-color: rgb(2 42 87);
  display: flex;
  align-content: center;
  justify-content: space-around;
  color: white;
}

.left {
  font-size: 65px;
}

body {
  background-color: rgb(10 10 42);
  color: white;
  padding-top: 100px;
}
p {
  font-size: 20px;
  margin-left: 5%;
  margin-right: 5%;
}
img {
  width: 20%;
  height: 20%;
  border: 2px solid white;
  display: block;
  float: right;
  margin-left: 2%;
  margin-right: 5%;
  margin-bottom: 10px;
}
h1{
  margin: 5%;
  font-weight: bold;
  font-style: italic;
}
h2{
  margin: 5%;
  font-weight: bold;
  font-style: italic;
}
h3{
  margin: 5%;
  font-weight: bold;
  font-style: italic;
}

